.top-container{
  background-color: #E4F9F5;
  margin: 0;
}
.middle-container{

}
.bottom-container{

}
.profile_pic{
  border-radius: 50%;
  height: 100px;
  position:absolute;
  right:50px;
  top:50px;
}
body{
  margin:0;
  text-align:center;
  font-family: 'Merriweather', serif;
}
h1{
  margin-top: 0;
  font-family: 'Sacramento', cursive;
}
.bottomcloud{
  position: absolute;
}
.topcloud{
  position: relative;
  left:200px;
  margin-top: 50px;
}
h3{
  font-family: 'Montserrat', sans-serif;
}
